<html>
<head>
<title><%= project_name %> build</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>

<h1 class="pane"><img src="images/timestampstatus?project_name=<%= project_name %>&timestamp=<%= selected_build.timestamp %>"/> <%= build_description(selected_build) %></h1>


<table class="main-table">

  <%
  # =============== previous/next build pane
  prev_build = build_history_repository.prev(selected_build)
  next_build = build_history_repository.next(selected_build)
  %>
  
  <tr><td>
    <% if prev_build then %>
    <a href="<%= build_url(prev_build) %>\"><img src="icons/navigate_left.png" /></a>
    <% end %>
    <% if next_build then %>
    <a href="<%= build_url(next_build) %>"><img src="icons/navigate_right.png" /></a>
    <% end %>
  </td></tr>
  

  <%
  # =============== console output link pane
  log_url = "log?project_name=#{project_name}&timestamp=#{selected_build.timestamp}"
  %>
  <tr><td>
  <table class="console-output">
    <tr><td class="console-output">
    <a href="<%= log_url %>"><image src="icons/console_network.png"/></a>
    <a href="<%= log_url %>">Console output</a>
    </td></tr>
  </table>
  </td></tr>
  
  <%
  # =============== changes pane
  %>
  
  <tr><td>  
  <% if selected_build then %>

  <%
  previous_successful_build = build_history_repository.previous_successful_build(selected_build)
  previous_successful_build_link = "<a href=\"#{build_url(previous_successful_build)}\">(##{previous_successful_build.label})</a>" if previous_successful_build
  %>

  <table class="pane">
    <tr><td class="pane-header" colspan="3">
      <% if(previous_successful_build) %>
        Changes since #{previous_successful_build_link}
      <% else %>
        Changes
      <% end %>
    </td></tr>
    <% if(selected_build.changesets.length == 0)then %>
      <tr>
        <td colspan="3">
          <%= no_changes_in_this_build %>
        </td>
      </tr>
    <% else %>
      <%
      selected_build.changesets.each do |changeset|
      %>

        <tr class="pane">
          <td colspan="3" class="changeset"><%= changeset.developer %> : <%= changeset.message %></td>
        </tr>
        <%
        changeset.each do |change|
        %>
        <tr>
          <td><image src="<%= file_icon(change) %>"/></td>
          <td><%= change.revision %></td>
          <td>
            <% if scm_url(project_name, change) then %>
              <a href="<%= scm_url(project_name, change) %>"><%= change.path %></a>
            <% else %>
              <%= change.path %>
            <% end %>
          </td>
        </tr>
        <% end %>

      <% end %>
    <% end %>
  </table>
  
  <% end %>

</td></tr>

</table>


</body></html>
