<html>
<head>
<title><%= project_name %> build</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>

<h1 class="pane"><img src="images/timestampstatus?project_name=<%= project_name %>&timestamp=<%= selected_build.timestamp %>"/> <%= build_description(selected_build) %></h1>

<table class="tab" nowrap="nowrap" width="100%">
  <tr>
    <% tabs.each do |tab| %>
  
      <td nowrap="true" valign="center" <% if selected_tab == tab then %>class="selected_tab"<% else %>class="tab"<% end %>>
      <% if selected_tab != tab then %><a href="?project_name=<%= project_name %>&timestamp=<%= selected_build.timestamp %>&tab=<%= tab.id %>"><% end %>
      <% if tab.icon then %><img valign="center" src="<%= tab.icon %>" />&nbsp;<% end %><%= tab.title %>
      <% if selected_tab != tab then %></a><% end %>
      </td>
    
    <% end %>
    <td width="100%" class="tab_filler">
      &nbsp;
    </td>
  </tr>
  <tr>
    <td colspan="<%= tabs.size + 1 %>">
      <%= selected_tab.content %>
    </td>
  </tr>
</table>


</body></html>
