<html>
<head>
<title><%= project_name %> build</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>

<h1 class="pane"><img src="images/timestampstatus?project_name=<%= project_name %>&timestamp=<%= selected_build.timestamp %>"/> <%= build_description(selected_build) %></h1>


<table class="main-table">

  <%
  previous_successful_build = build_history_repository.previous_successful_build(selected_build)
  previous_successful_build_link = "<a href=\"#{build_url(previous_successful_build)}\">(##{previous_successful_build.label})</a>" if previous_successful_build
  %>

  <%
  # =============== next/prev links pane
  prev_build = build_history_repository.prev(selected_build)
  next_build = build_history_repository.next(selected_build)
  
  prev_link = "&lt;&lt;&nbsp;No previous build"
  prev_link = "&lt;&lt;&nbsp;<a href=\"#{build_url(prev_build)}\">#{build_description(prev_build)}</a>" if prev_build
  
  next_link = "No next build &nbsp;&gt;&gt;"
  next_link = "<a href=\"#{build_url(next_build)}\">#{build_description(next_build)}</a>&nbsp;&gt;&gt;" if next_build
  %>
  <table class="pane">
    <tr>
      <td class="pane" align="left">
        <%=prev_link%>
      </td>
      <td class="pane" align="right">
        <%=next_link%>
      </td>
    </tr>
  </table>
  
  <%
  # =============== console output link pane
  log_url = "log?project_name=#{project_name}&timestamp=#{request.query['timestamp']}"
  %>
  <table class="pane">
    <tr><td class="pane">
    <a href="<%= log_url %>">Console output</a>
    </td></tr>
  </table>


  <tr><td>
  
  
  <%
  # =============== changes pane
  %>
  
  <% if selected_build then %>

  <table class="pane">
    <tr><td class="pane-header" colspan="4">
      <% if(previous_successful_build) %>
        Changes since #{previous_successful_build_link}
      <% else %>
        Changes
      <% end %>
    </td></tr>
    <% if(selected_build.changesets.length == 0)then %>
      <tr>
        <td colspan="4">
          <%= no_changes_in_this_build %>
        </td>
      </tr>
    <% else %>
      <%
      selected_build.changesets.each do |changeset|
      %>

        <tr class="pane">
          <td colspan="2" class="changeset"><%= changeset.developer %> : <%= changeset.message %></td>
        </tr>
        <%
        changeset.each do |change|
        %>
        <tr>
          <td>
            <% if scm_url(project_name, change) then %>
              <a href="<%= scm_url(project_name, change) %>"><%= change.path %></a>
            <% else %>
              <%= change.path %>
            <% end %>
          </td>
          <td><%= change.revision %></td>
        </tr>
        <% end %>

      <% end %>
    <% end %>
  </table>
  
  <% end %>



</td></tr>


</body></html>
