<html>
<head>
<title><%= project_name %> build</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>

<%
build = build_history_repository.lookup(project_name, request.query["timestamp"])
%>

<h1 class="pane"><img src="images/timestampstatus?project_name=<%= project_name %>&timestamp=<%= request.query['timestamp'] %>"/> <%= build_description(build) %></h1>


<table class="main-table">

  <%
  # =============== next/prev links pane
  prev_build = build_history_repository.prev(build)
  next_build = build_history_repository.next(build)
  
  prev_link = "&lt;&lt;&nbsp;No previous build"
  prev_link = "&lt;&lt;&nbsp;<a href=\"#{build_url(prev_build)}\">#{build_description(prev_build)}</a>" if prev_build
  
  next_link = "No next build &nbsp;&gt;&gt;"
  next_link = "<a href=\"#{build_url(next_build)}\">#{build_description(next_build)}</a>&nbsp;&gt;&gt;" if next_build
  %>
  <table class="pane">
    <tr>
      <td class="pane" align="left">
        <%=prev_link%>
      </td>
      <td class="pane" align="right">
        <%=next_link%>
      </td>
    </tr>
  </table>
  
  <%
  # =============== console output link pane
  log_url = "log?project_name=#{project_name}&timestamp=#{request.query['timestamp']}"
  %>
  <table class="pane">
    <tr><td class="pane">
    <a href="<%= log_url %>">Console output</a>
    </td></tr>
  </table>


  <tr><td>
  
  
  <%
  # =============== changes pane
  %>

  <table class="pane">
    <tr><td class="pane-header" colspan="4">
      Changes
    </td></tr>
    <% if build.modification_set.nil? || build.modification_set.empty? then %>
      <tr>
        <td colspan="4">
          No changes in this build
        </td>
      </tr>
    <% else %>
      <tr class="pane">
        <th class="pane">Developer</td>
        <th class="pane">File</td>
        <th class="pane">Revision</td>
        <th class="pane">Message</td>
      </tr>
      <%
      build.modification_set.each do |modification|
      %>
        <tr>
          <td><%= modification.developer %></td>
          <td>
            <% if scm_url(modification) then %>
              <a href="<%= scm_url(modification)  %>"><%= modification.path %></a>
            <% else %>
              <%= modification.path %>
            <% end %>
          </td>
          <td><%= modification.revision %></td>
          <td><%= modification.message %></td>
        </tr>
      <% end %>
    <% end %>
  </table>



</td></tr>


</body></html>
