<html>
<head>
<title><%= project_name %> build</title>
</head>
<body>

<h1 class="pane">
	<img 
		src="../images/timestampstatus/<%= project_name %>?dc_creation_time=<%= selected_build.dc_creation_time.ymdHMS %>" 
		width="32" 
		height="32" 
		border="0" /> <%= build_description(selected_build) %>
</h1>
<div style="padding-top: 5px">
<ul id="foldertab">
    <% reports.each do |report| 
      selected = selected_report == report
      %>
      <% if report.available? %>
    <li><a href="?dc_creation_time=<%= selected_build.dc_creation_time.ymdHMS %>&report=<%= report.id %>" 
    <% if selected then %>id="current"<% end %>>
	<image src="<%= report.icon %>"/> <%= report.title %>
	</a></li>
    <% end %>
    <% end %>
</ul>
</div>

<%= selected_report.content %>

</body></html>
