<html>
<head>
<title><%= project_name %> dashboard</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>

<table class="main-table">
<tr><td>
<% if find_method == "history"%>
    <h1 class="pane"><img src="images/lastcompletedstatus?project_name=<%= project_name %>"/> <%= project_name %> <%= current_status %></h1>
<% end %>
</td></tr>

<tr><td>
<table class="pane">

  <tr class="pane">
    <td class="pane-header">
<% if find_method == "history"%>
    Build history
<% else %>
    Search results
<% end %>
    </td>
  </tr>
  
<%
  if builds.empty?
%>

  <tr class="pane">
    <td class="pane" colspan="1">
<% if find_method == "history"%>
    Never built
<% else %>
    No matching builds were found
<% end %>
    </td>
  </tr>
  
<% else %>

  <%
    builds.reverse.each do |build|
      color = if build.successful? then "green" else "red" end
      color = "grey" if !build.completed?
      image = "images/#{color}-16.gif"
      prefix = ""
      prefix = "#{build.project_name} " if (find_method == "search")
  %>
  <tr class="pane">
    <td class="pane"><img src="<%= image %>" />&nbsp;<a href="<%= build_url(build) %>"><%= prefix %><%= build_description(build) %></a></td>
  </tr>
<% end %>

</table>
</td></tr>

<% end %>

</table>
</body></html>
