<html>
<head>
<title><%= project_name %> dashboard</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>

<table class="main-table">
<tr><td>
    <h1 class="pane"><img alt="<%= current_status %>" src="images/lastcompletedstatus?project_name=<%= project_name %>"/> <%= project_name %> <%= current_status %></h1>
</td></tr>

<tr><td>

<%= builds_table(:header_text => "Build history", :empty_text => "Never built", :css_class => "pane", :builds => builds) %>

</table>
</td></tr>

</table>

</body></html>
