<html>
<title><% project_name %> dashboard</title>
<body>

<h1><%= project_name %></h1>
<table>
  <tr class="dashboard">
    <td class="dashboard">Last completed build</td>
    <td class="dashboard"><img src="<%= self.get_status_image(:last_completed_build, project_name) %>"/> <%= last_status %></td>
  </tr>
  <tr class="dashboard">
    <td class="dashboard">Current build</td>
    <td class="dashboard"><img src="<%= self.get_status_image(:current_build, project_name) %>"/> <%= current_status %></td>
  </tr>
</table>

</body></html>