<html>
<head>
<title><%= project_name %> dashboard</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>

<table class="main-table">
<tr><td>
<h1 class="pane"><img src="images/lastcompletedstatus?project_name=<%= project_name %>"/> <%= project_name %> <%= current_status %></h1>
</td></tr>

<tr><td>
<table class="pane" width="100%">

  <tr class="pane">
    <td class="pane-header" colspan="3">Build history</td>
  </tr>
  
<%
  builds = build_history_repository.history(project_name).reverse
  
  if builds.empty?
%>

  <tr class="pane">
    <td class="pane" colspan="1">Never built</td>
  </tr>
  
<% else %>

  <%
    builds.each do |build|
      color = if build.successful? then "green" else "red" end
      color = "grey" if !build.completed?
      image = "images/#{color}-16.gif"
  %>
  <tr class="pane">
    <% label = "##{build.label}"; label = build.status if label == "#" %>
    <td class="pane"><img src="<%= image %>" />&nbsp;<a href="log?project_name=<%= project_name %>&timestamp=<%= build.timestamp %>"><%= build.timestamp_for_humans %> (<%= label %>)</a></td>
  </tr>
  <% end %>

</table>
</td></tr>

<% end %>

</table>
</body></html>
