<html>
<head>
<title><%= project_name %> dashboard</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>

<table class="main-table">
<tr><td>
<h1 class="pane"><img src="images/lastcompletedstatus?project_name=<%= project_name %>"/> <%= project_name %></h1>
</td></tr>

<tr><td>
<table class="pane" width="100%">
  <tr>
    <td class="pane-header">Last completed build</td>
  </tr>
  <tr>
    <td class="pane"><%= last_status %></td>
  </tr>
</table>
</td></tr>

<% if(last_completed_build != current_build) %>
<tr><td>
<table class="pane" width="100%">
  <tr>
    <td class="pane-header">Current build</td>
  </tr>
  <tr>
    <td class="pane"><%= current_status %></td>
  </tr>
</table>
</td></tr>
<% end %>

<tr><td>
<table class="pane" width="100%">
  <tr>
    <td class="pane-header"><a href="root/<%= project_name %>/checkout">Checked out files...</a></td>
  </tr>
</table>
</td></tr>

<tr><td>
<table class="pane" width="100%">

  <tr class="pane">
    <td class="pane-header" colspan="3">Build history</td>
  </tr>
  
<%
  builds = build_history_repository.history(project_name).reverse
  
  if builds.empty?
%>

  <tr class="pane">
    <td class="pane" colspan="3">Never built</td>
  </tr>
  
<% else %>

  <tr class="pane">
    <td class="pane-column-header">Timestamp</td>
    <td class="pane-column-header">Status</td>
    <td class="pane-column-header">Time</td>
  </tr>
  
  <%
    builds.each do |build|
      color = if build.successful? then "green" else "red" end
      color = "grey" if !build.completed?
      image = "images/#{color}-16.gif"
  %>
  <tr class="pane">
    <td class="pane"><a href="log?project_name=<%= project_name %>&timestamp=<%= build.timestamp %>"><%= build.timestamp_as_time %></a></td>
    <td class="pane"><img src="<%= image %>" />&nbsp;<%= build.status %></td>
    <td class="pane"><%= build.duration_formatted %></td>
  </tr>
  <% end %>

</table>
</td></tr>

<% end %>

</table>
</body></html>
