<html>
<head>
<title><%= project_name %> dashboard</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>

<table class="main-table">
<tr><td>
<% if find_method == "history"%>
    <h1 class="pane"><img src="images/lastcompletedstatus?project_name=<%= project_name %>"/> <%= project_name %> <%= current_status %></h1>
<% end %>
</td></tr>

<tr><td>
<table class="pane" width="100%">

  <tr class="pane">
    <td class="pane-header" colspan="3">
<% if find_method == "history"%>
    Build history
<% else %>
    Search results
<% end %>
    </td>
  </tr>
  
<%
  if builds.empty?
%>

  <tr class="pane">
    <td class="pane" colspan="1">
<% if find_method == "history"%>
    Never built
<% else %>
    No matching builds were found
<% end %>
    </td>
  </tr>
  
<% else %>

  <%
    builds.reverse.each do |build|
      color = if build.successful? then "green" else "red" end
      color = "grey" if !build.completed?
      image = "images/#{color}-16.gif"
      link_start = ""
      link_start = "#{build.project_name } " if (find_method == "search")
      label = "##{build.label}"; 
      label = build.status if label == "#"
      link_text = "#{link_start}#{build.timestamp_for_humans} (#{label})"
  %>
  <tr class="pane">
    <td class="pane"><img src="<%= image %>" />&nbsp;<a href="log?project_name=<%= build.project_name %>&timestamp=<%= build.timestamp %>"><%= link_text %></a></td>
  </tr>
<% end %>

</table>
</td></tr>

<% end %>

</table>
</body></html>
