<html>
<title><% project_name %> dashboard</title>
<body>

<h1><%= project_name %></h1>
<table>
  <tr class="dashboard">
    <td class="dashboard">Last completed build</td>
    <td class="dashboard"><img src="	images/lastcompletedstatus?project_name=<%= project_name %>"/> <%= last_status %></td>
  </tr>
<% if(last_completed_build != current_build) %>
  <tr class="dashboard">
    <td class="dashboard">Current build</td>
    <td class="dashboard"><img src="images/currentstatus?project_name=<%= project_name %>"/> <%= current_status %></td>
  </tr>
<% end %>
</table>

</body></html>
