<html>
<head>
<link rel="stylesheet" href="../css/style.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<% if auto_refresh? %>
  <meta http-equiv="Refresh" content="<%= auto_refresh_rate %>">
<% end %>

<title><%= title %> - <%= html_quote(DamageControl::VERSION_TEXT) %></title>
</head>
<body>

<div class="top-panel">
<img class="logo" src="images/damagecontrol-logo.png" />
</div>

<div class="task-panel">

<div class="task-header">Navigation</div>
<div class="task-entry"><a href="dashboard">Dashboard</a></div>
<div class="task-entry">
<% if auto_refresh? %>
  <a href="<%= auto_refresh_url_prefix %>auto_refresh=false">Auto refresh off</a>
<% else %>
  <a href="<%= auto_refresh_url_prefix %>auto_refresh=true">Auto refresh on</a>
<% end %>
</div>

<% if !tasks.empty? then %>
	<div class="task-entry">&nbsp;</div>

	<div class="task-header">Actions</div>
	<% tasks.each do |name, url| %>
		<div class='task-entry'><a href="<%= url %>"><%= name %></a></div>
	<% end %>
<% end %>

</div>

<div class="main-panel">
<%= body %>
<% if false then %>
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
<% end %>
</div>

<div class="footer">
<%= html_quote(DamageControl::VERSION_TEXT) %>
</div>

</body>
</html>