<html>
<head>
<link rel="stylesheet" href="../css/style.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<% if auto_refresh? %>
  <meta http-equiv="Refresh" content="<%= auto_refresh_rate %>">
<% end %>

<title><%= title %> - <%= html_quote(DamageControl::VERSION_TEXT) %></title>
</head>
<body>

<div class="top-panel">
<img class="logo" src="images/damagecontrol-logo.png" />
<% if auto_refresh? %>
  <a href="<%= auto_refresh_url_prefix %>auto_refresh=false">Turn auto refresh off</a>
<% else %>
  <a href="<%= auto_refresh_url_prefix %>auto_refresh=true">Turn auto refresh on</a>
<% end %>
</div>

<div class="top-nav">
	<div class="left-top-nav">
	<%= breadcrumbs %>
	</div>
	<div class="right-top-nav">
	<%= right_top_nav %>
	</div>
</div>

<div>
<div class="main-panel">
<%= body %>
</div>

<div class="task-panel">

	<% if !tasks.empty? then %>
		<div class="task-entry">&nbsp;</div>
	
		<div class="task-header">Actions</div>
		<% tasks.each do |name, url| %>
			<div class='task-entry'><a href="<%= url %>"><%= name %></a></div>
		<% end %>
	<% end %>

</div>
</div>

<div class="footer">
This stuff displays best in a Mozilla based browser. Try <a href="http://www.mozilla.org/products/firefox/">Firefox</a>.
<br>
<%= html_quote(DamageControl::VERSION_TEXT) %>
</div>

</body>
</html>