<html>
<head>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="css/cruisecontrol.css" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<% if auto_refresh? %>
  <meta http-equiv="Refresh" content="<%= auto_refresh_rate %>">
<% end %>

<title><%= title %> - <%= html_quote(DamageControl::VERSION_TEXT) %></title>
</head>

<body>

<table id="main-table" width="100%" border="0">

<tr><td  id="top-panel" colspan="2">
<a href="http://damagecontrol.codehaus.org/"><img class="logo" src="images/damagecontrol-logo.png"/></a>
</td></tr>

<tr>
	<td id="left-top-nav">
    <%= breadcrumbs %>
	</td>
	<td id="right-top-nav">
    <% if auto_refresh? %>
      <a href="<%= auto_refresh_url_prefix %>auto_refresh=false">Turn auto refresh off</a>
    <% else %>
      <a href="<%= auto_refresh_url_prefix %>auto_refresh=true">Turn auto refresh on</a>
    <% end %>
  </td>
</tr>

<tr>

<td id="side-panel">
<%
tasks = self.tasks
if(tasks && tasks.length > 0)
%>
  <div id="tasks">  
    <% tasks.each do |task| %>
      <div class="task"><%= task %></div>
    <% end %>  
  </div>
<% end %>

<%
navigation = self.navigation
if(navigation)
%>
  <div id="navigation">  
    <%= navigation %>
  </div>
<% end %>

</td>

<td id="main-panel">
<%= body %>
</td>


<tr><td id="footer" colspan="2">
This stuff displays best in a Mozilla based browser. Try <a href="http://www.mozilla.org/products/firefox/">Firefox</a>.
<br>
<%= html_quote(DamageControl::VERSION_TEXT) %>
</td></tr>

</table>

</body>
</html>