<img src="images/starteam.png"/>
<table width="100%">
  <tr>
    <td class="config_cell">User name</td>
    <td width="75%"><input class="setting-input" name="st_user_name" id="st_user_name" type="text" value="<%= st_user_name %>"></td>
  </tr>
  <tr>
    <td class="config_cell">Password</td>
    <td><input class="setting-input" name="st_password" id="st_password" type="password" value="<%= st_password %>"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="setting-description">
      <b>Warning!</b> Password will be shown in cleartext in configuration files.
    </td>
  </tr>
  <tr>
    <td class="config_cell">Server name</td>
    <td><input class="setting-input" name="st_server_name" id="st_server_name" type="text" value="<%= st_server_name %>"></td>
  </tr>
  <tr>
    <td class="config_cell">Server port</td>
    <td><input class="setting-input" name="st_server_port" id="st_server_port" type="text" value="<%= st_server_port %>"></td>
  </tr>
  <tr>
    <td class="config_cell">Project name</td>
    <td><input class="setting-input" name="st_project_name" id="st_project_name" type="text" value="<%= st_project_name %>"></td>
  </tr>
  <tr>
    <td class="config_cell">View name</td>
    <td><input class="setting-input" name="st_view_name" id="st_view_name" type="text" value="<%= st_view_name %>"></td>
  </tr>
  <tr>
    <td class="config_cell">Folder name</td>
    <td><input class="setting-input" name="st_folder_name" id="st_folder_name" type="text" value="<%= st_folder_name %>"></td>
  </tr>
</table>
