<table id="projectstatus" class="pane">
<tr>
    <th>&nbsp;</th>
    <th>Project</th>
    <th>Last Success</th>
    <th>Last Duration</th>
    <th>&nbsp;</th>
</tr>

<%
project_statuses.each do |project|
%>
<tr>
    <td><img width="32" height="32" src="<%= project.image %>" /></td>
    <td><a href="<%= project.href %>"><%= project.name %><%= project.label %></a></td>
    <td><%= project.time_since_last_success %></td>
    <td><%= project.last_duration %></td>
    <% if private? %>
    <td align="center" style="border-left: 1px solid #bbb; color: #bbb;"> <a href="configure?project_name=<%= project.name %>&action=configur
e" title="Configure <%= project.name %>"><img src="icons/wrench.png" width="24" height="24"/></a>
        | <a href="project?project_name=<%= project.name %>&action=trig_build" title="Trigger build for <%= project.name %>"><img src="icons/gears_run.png
" width="24" height="24"/></a></td>
    <% else %>
       <td>&nbsp;</td>
    <% end %>
</tr>
<%
end
%>
</table>
