<table class="pane">

  <tr>
    <td class="pane-header">
      <%= header_text %>
    </td>
  </tr>
  
<%
  if builds.empty?
%>

  <tr class="pane">
    <td class="pane">
      <%= empty_text %>
    </td>
  </tr>
  
<% else %>

  <%
    i = -1
    builds.reverse.each do |build|
      i = i + 1
      color = if build.successful? then "green" else "red" end
      color = "grey" if !build.completed?
      image = "images/#{color}-16.gif"
      prefix = ""
      prefix = "#{build.project_name} " if prefix_with_project_name
  %>
  <tr class="build-row">
    <% if((i%2) == 0) %>
    <td class="build-cell-even">
    <% else %>
    <td class="build-cell-odd">
    <% end %>
      <img src="<%= image %>" />&nbsp;
      <a class="tip" href="<%= build_url(build) %>">
        <% if selected_build == build then %><b><% end %>
        
        <%= prefix %><%= build_description(build) %>
        
        <% if selected_build == build then %></b><% end %>
        <span>
          <% if(build.changesets.length == 0) %>
            <i><%= no_changes_in_this_build %></i>
          <% else %>
            <% build.changesets.each do |changeset| %>
              (by <%= changeset.developer %> <%= changeset.time_difference %> ago) <br/>
              <i><%= changeset.message %></i><br/>
              <% changeset.each do |change| %>
                <%= change.path %><br/>
              <% end %>
            <% end %>
          <% end %>
        </span>
      </a>
    </td>
  </tr>
<% end %>

<% end %>

</table>

