<img src="images/cvs.png"/>
<table width="100%">
  <tr>
    <td class="setting-name">CVSROOT</td>
    <td width="75%"><input class="setting-input" name="cvsroot" id="cvsroot" onKeyUp="distributeCvsrootFields()" type="text" value="<%=  cvsroot %>"></td>
  </tr>
  <tr>
    <td>Protocol</td>
    <td>
      <select class="setting-input" id="cvsprotocol" onchange="updateCvsRootField()">
        <option value=""></option>
        <option value="ext" selected>Secure shell (:ext:)</option>
        <option value="pserver">Password server (:pserver:)</option>
        <option value="local">Locally mounted folder (:local:)</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="setting-description">
      If you specify :local: DamageControl can create the repository for you after you save (unless the repository already exists).
    </td>
  </tr>
  <tr>
    <td>User name</td>
    <td><input class="setting-input" id="cvsuser" onKeyUp="updateCvsRootField()" type="text"></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><input class="setting-input" name="cvspassword" id="cvspassword" value="<%= cvspassword %>" type="password"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="setting-description">
      <b>Warning!</b> Password will be shown in cleartext in configuration files.
    </td>
  </tr>
  <tr>
    <td>Server</td>
    <td><input class="setting-input" id="cvsserver" onKeyUp="updateCvsRootField()" type="text"></td>
  </tr>
  <tr>
    <td>Port</td>
    <td><input class="setting-input" id="cvsport" onKeyUp="updateCvsRootField()" type="text"></td>
  </tr>
  <tr>
    <td>Repository directory</td>
    <td><input class="setting-input" id="cvsrepodir" onKeyUp="updateCvsRootField()" type="text"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Module</td>
    <td><input class="setting-input" name="cvsmodule" id="cvsmodule" type="text" value="<%= cvsmodule %>"></td>
  </tr>
  <tr>
    <td>Branch</td>
    <td><input class="setting-input" name="cvsbranch" id="cvsbranch" type="text" value="<%= cvsbranch %>"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="setting-description">
      Note that you can't use trigged build if you are using DC to build multiple branches for the same project,
      use polled builds instead.
    </td>
  </tr>
  <tr>
    <td class="setting-name">RSH client</td>
    <td><input class="setting-input" name="rsh_client" id="cvs_web_url" type="text" value="<%= rsh_client %>"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="setting-description">For example <tt>ssh</tt> or <tt>plink.exe</tt></td>
  </tr>
</table>

