<html>
<head>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="css/color.css" type="text/css">
<% extra_css.each do |css| %>
  <link rel="stylesheet" href="<%= css %>" type="text/css">
<% end %>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<% if auto_refresh? %>
  <meta http-equiv="Refresh" content="<%= auto_refresh_rate %>">
<% end %>

<title><%= title %> - <%= html_quote(DamageControl::VERSION_TEXT) %></title>
</head>

<body>

<table id="header" cellpadding="0" cellspacing="0" width="100%" border="0">

<tr id="top-panel">
<td>
<a href="dashboard"><img class="logo" src="images/damagecontrol-logo.gif"/></a>
</td>
<td align="right" valign="bottom" style="vertical-align: bottom;"><%= search_form %></td>
</tr>

<tr id="top-nav">
<td id="left-top-nav">
    <%= breadcrumbs %>
</td>
<td id="right-top-nav">
	<span class="smallfont">
	REFRESH: 
	<% if auto_refresh? %>
      		<span class="greenbold">ON</span> | <a href="<%= auto_refresh_url_prefix %>auto_refresh=false">OFF</a>
	<% else %>
		<a href="<%= auto_refresh_url_prefix %>auto_refresh=true">ON</a> | <span class="redbold">OFF</span>
	<% end %>
	</span>
  </td>
</tr>
</table>
<table id="main-table" width="100%" border="0">
<tr>

<td id="side-panel">
<%
tasks = self.tasks
if(tasks && tasks.length > 0)
%>
  <div id="tasks">  
    <% tasks.each do |task| %>
      <div class="task"><%= task %></div>
    <% end %>  
  </div>
<% end %>

<%
navigation = self.navigation
if(navigation)
%>
  <div id="navigation">  
    <%= navigation %>
  </div>
<% end %>

</td>

<td id="main-panel">
<%= body %>
</td>

</tr>

<tr><td id="footer" colspan="2" background="images/footer_grad.gif">
This stuff displays best in a Mozilla based browser. Try <a href="http://www.mozilla.org/products/firefox/">Firefox</a>.
<br>
<a href="http://damagecontrol.codehaus.org"><%= html_quote(DamageControl::VERSION_TEXT) %></a>
</td></tr>

</table>

</body>
</html>
