<div>
<table class="pane">
  <tr><td class="pane-header" colspan="2">
    Build Queue
  </td></tr>
  <tr>
    <th class="pane">Project</th>
    <th class="pane">Timestamp</th>
  </tr>
  <%
    if build_queue.empty? then
  %>
      <tr>
        <td class="pane" colspan="2">No builds in the queue.</td>
      </tr>
  <% else %>
    <%
      build_queue.each do |build|
    %>
      <tr>
        <td class="pane"><%= build.project_name %></td>
        <td class="pane"><%= build.timestamp_for_humans %></td>
      </tr>
    <% end %>
  <% end %>
</table>
</div>

<div>
<table class="pane">
  <tr><td class="pane-header" colspan="3">
    Build Executor Status
  </td></tr>
  <tr>
    <th class="pane"></th>
    <th class="pane">Status</th>
    <th class="pane">&nbsp;</th>
  </tr>
  <%
    i = -1
    build_executors.each do |build_executor|
      i += 1
  %>
  <tr>
    <td class="pane">#<%= i+1 %></td>
    <td class="pane" width="70%"><%= build_executor.status_message %></td>
    <% if build_executor.build_process_executing? && private? then %>
      <td class="pane"><a href="?action=kill_executor&executor=<%= i %>"><img width="24" height="24" src="icons/stop.png" /></a></td>
    <% else %>
      <td class="pane">&nbsp;</td>
    <% end %>
  </tr>
  <% end %>
</table>
</div>


