
  <% if(changesets.length == 0)then %>
<table class="pane">
    <tr>
      <td colspan="3">
        <%= no_changes_in_this_build %>
      </td>
    </tr>
</table>
  <% else %>
    <%
    changesets.each do |changeset|
    %>
<table class="pane">
      <tr class="pane">
        <td colspan="3" class="changeset">
	    <div class="changeset-message">
            <b><%= changeset.developer %>:</b><br>
	    <%= quote_message(changeset.message) %></div>
        </td>
      </tr>
      <%
      changeset.each do |change|
      %>
      <tr>
        <td><%= file_icon(change).render %></td>
        <td><%= change.revision %></td>
        <td>
          <% if web_url_to_change(change) then %>
            <a href="<%= web_url_to_change(change) %>"><%= change.path %></a>
          <% else %>
            <%= change.path %>
          <% end %>
        </td>
      </tr>
      <% end %>
</table>
    <% end %>
  <% end %>
  
