<table class="pane">

  <tr><td class="pane-header" colspan="3">
    Changes
  </td></tr>
  <% if(changesets.length == 0)then %>
    <tr>
      <td colspan="3">
        <%= no_changes_in_this_build %>
      </td>
    </tr>
  <% else %>
    <%
    changesets.each do |changeset|
    %>

      <tr class="pane">
        <td colspan="3" class="changeset"><%= changeset.developer %> : <%= quote_message(changeset.message) %></td>
      </tr>
      <%
      changeset.each do |change|
      %>
      <tr>
        <td><img width="16" height="16" src="<%= file_icon(change) %>"/></td>
        <td><%= change.revision %></td>
        <td>
          <% if web_url_to_change(change) then %>
            <a href="<%= web_url_to_change(change) %>"><%= change.path %></a>
          <% else %>
            <%= change.path %>
          <% end %>
        </td>
      </tr>
      <% end %>

    <% end %>
  <% end %>
  
</table>
